:root {
    /* Couleurs par défaut (mode jour) */
    --bg-color: #ffffff;
    --header-color: #f0f0f0;
    --text-color: #000000;
    --primary-color: #0024dd; /* Bleu */
    --h1-color: #0024dd; /* Bleu */
    --accent-color: #0024dd;  /* Jaune */
    --night-color: #f0f0f0; 
    --input-bg-color: #f0f0f0;
    --input-border-color: #cccccc;
    --container-bg-color: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.2); /* Ombre noire avec faible opacité */
    --durability-color: #e7d800; /* Bleu */
    --success-color: #28a745; /* Vert pour les messages de succès */
}

body.dark-mode {
    /* Couleurs pour le mode nuit */
    --bg-color: #1e1e1e;
    --header-color: #f0f0f0;
    --text-color: #f0f0f0;
    --primary-color: #0024dd; /* Bleu clair */
    --accent-color: #ffffff;  /* Gris */
    --night-color: #e7d800; 
    --h1-color: #f0f0f0; /* Bleu */
    --input-bg-color: #2c2c2c;
    --input-border-color: #555;
    --container-bg-color: #2c2c2c;
    --box-shadow-color: rgba(255, 255, 255, 0.034); /* Ombre blanche avec faible opacité */
    --durability-color: #0024dd; /* Bleu clair */
    --success-color: #198754; /* Vert pour les messages de succès */
}

html {
    overflow-y: scroll; /* Forcer l'affichage de la barre de défilement verticale */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'assurer que le body occupe toute la hauteur de la fenêtre */
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 10px 0;
    box-shadow: 0 2px 5px var(--box-shadow-color);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* Sections du header */
.header-left,
.header-center,
.header-right {
    flex: 1;
}

/* Logo sur le côté gauche */
.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 70px; /* Agrandir le logo */
    /* Vous pouvez ajuster la hauteur selon vos besoins */
}

/* Menu centré */
.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: var(--header-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #e7d800;
}

/* Mode nuit */
.header-right button {
    background: none;
    border: none;
    color: var(--header-color);
    font-size: 24px;
    cursor: pointer;
}

.header-right button:focus {
    outline: none;
}

.header-right button i {
    pointer-events: none;
}

/* Contenu principal */
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: var(--container-bg-color);
    padding: 20px;
    box-shadow: 0 0 15px var(--box-shadow-color);
    border-radius: 10px;
    flex: 1; /* Prendre l'espace disponible pour pousser le footer vers le bas */
}

h1, h2 {
    text-align: center;
    color: var(--h1-color);
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group input, .input-group select {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    margin-right: 10px;
}

.input-group input:last-child, .input-group select:last-child {
    margin-right: 0;
}

.durability {
    margin-top: 10px;
}

progress {
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: var(--input-bg-color);
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: var(--durability-color);
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background-color: var(--durability-color);
    border-radius: 5px;
}

#discipline-times {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.discipline-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.discipline-time p {
    margin: 0;
    display: flex;
    align-items: center;
}

.discipline-time span {
    font-weight: bold;
    color: var(#e7d800);
}

h2 i, label i {
    margin-right: 5px;
    color: var(--accent-color);
}

.discipline-time p i {
    margin-right: 5px;
    color: var(--text);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--input-bg-color);
    margin-top: auto; /* Pousser le footer vers le bas */
}

footer p {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
}

/* Section de partage */
.share-section {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.share-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.share-buttons a {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.share-buttons a:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.share-buttons a i {
    margin-right: 5px;
}

/* Styles pour le conteneur flex de l'embed */
.embed-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.embed-code {
    flex: 9;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    word-break: break-all;
}

.copy-button {
    flex: 1;
    text-align: center;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.copy-button:hover {
    background-color: #f0f0f0;
    color: #000000;
}

/* Style pour le message de confirmation */
.copy-message {
    margin-top: 10px;
    font-weight: bold;
    color: var(--success-color);
}

/* Responsivité */
@media (max-width: 800px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-left,
    .header-center,
    .header-right {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .header-left,
    .header-right {
        margin: 10px 0;
    }

    .logo {
        height: 60px;
    }
}

@media (max-width: 600px) {
    .container, .share-section {
        width: 95%;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group input, .input-group select {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .input-group input:last-child, .input-group select:last-child {
        margin-bottom: 0;
    }

    nav ul {
        flex-direction: column;
    }

    .records-container {
        flex-direction: column;
        align-items: center;
    }

    .records-column {
        margin: 10px 0;
    }

    nav li {
        margin: 5px 0;
    }

    .embed-container {
        flex-direction: column;
        align-items: stretch;
    }

    .embed-code, .copy-button {
        flex: none;
        width: 100%;
        margin: 5px 0;
    }

    .copy-button {
        margin-left: 0;
    }
}

/* Style pour le message de confirmation */
.copy-message {
    display: none; /* Ajouté pour cacher le message par défaut */
    margin-top: 10px;
    font-weight: bold;
    color: var(--success-color);
}

.coaching-button-container {
    text-align: center;
    margin: 20px 0;
}

.coaching-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    max-width: 400px; /* Limite la largeur maximale */
}

.coaching-button:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* Ratio 16:9 */
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.records-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.records-column {
    flex: 1;
    margin: 0 10px;
}

.records-column h3 {
    text-align: center;
    color: var(--primary-color);
}

.records-column ul {
    list-style: none;
    padding: 0;
}

.records-column ul li {
    margin-bottom: 10px;
}
